*{
 whitespace:24px;
text-align:center;
 color:#0C0504;
 list-style: none;
font-size:12px;

}

 h6{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    padding:10px;}
    
h5{
 background-color: #CBA275;
display: flex; 
 flex-direction:row;
 justify-content:space-evenly;
}
h4{
    display: flex;
font-size:26px;
flex-wrap: wrap;  

}
   .shop-now{
    width:50px;
    border-radius:60px; 
   justify-content:center;

    
   }
.blockA{
    display: flex;
 flex-direction:column;

}
img{
    border-bottom: 10px solid #BF5955;
  border-right: 10px solid #BF5955 ;
}
.blockB{
    float:none;
    display:flex;
    flex-direction:row;
    height: 320px;
    justify-content: space-evenly;

}