*{
 whitespace:24px;
text-align:center;
 color:#0C0504;
 list-style: none;
font-size:12px;

}

 h6{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    padding:10px;}
    
h5{
    background-color: #CBA275;
display: flex;
 flex-direction:row;
 justify-content:space-evenly;
}
h4{
    display: flex;
font-size:26px;
flex-wrap: wrap;  

}
   .shop-now{
    border-radius:60px;
    background-color:red;
    
   }
.blockA{
    display: flex;
 flex-direction:column;

}
.blockB{
    float:none;
    display:flex;
    flex-direction:row;
    /* border-left: #CCC 2px solid; */
    height: 320px;
    justify-content: space-evenly;
    background-color:#D7B495;
}